<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
Имя: <input type = "text" name = "firstname" value = "Введите Ваше имя"> <br>
Фамилия: <input type = "text" name = "lastname" value = "Введите Вашу фамилию"> <br>
    Мужчина <input type = "radio" name = "pol" value = "male" checked>
    Женщина <input type = "radio" name = "pol" value = "female"> <br>
    Дата рождения <input type="date">
    <input type = "submit" name = "submit" value = "Отправить">
</form>
<form action="my.php">

Выберете страны, в которых вы были: <br>
    <input type = "checkbox" name = "type1" value = "Turkey">Турция<br>
    <input type = "checkbox" name = "type2" value = "Poland">Польша<br>
    <input type = "checkbox" name = "type3" value = "USA">США<br>
    <input type = "checkbox" name = "type4" value = "Egypt">Египет<br>
    <input type = "checkbox" name = "type5" value = "Thailand">Таиланд<br>
<input type = "submit" name = "submit" value = "Ответить">
</form>

</body>
</html>